html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    -webkit-user-select: none;
    word-wrap: break-word;
    word-break: break-all;
    height: 100%;
    background: url(../images/hb3.png) center no-repeat;
    background-size: 100% 100%;
}

.form_content {
    width: 575px;
    margin: 30px auto;
    padding: 10px;
    background: url(../images/form_top_bg.gif) repeat-x top #fff;
}

fieldset {
    border: 0px #ebebeb solid;
    margin: 0 0 10px 0;
}

legend {
    color: #FFFFFF;
    /*background-color: #0fcdf6;*/
    padding: 2px 5px 2px 5px;
}

legend.optional {
    color: #FFFFFF;
    background-color: #50c150;
    padding: 2px 5px 2px 5px;
}

.form-row {
    clear: both;
    float: left;
    padding: 10px 5px 10px 5px;
}

.form-row-select {
    clear: both;
    float: left;
    padding: 10px 5px 5px 5px;
}

.field-label {
    width: 150px;
    float: left;
    padding-bottom: 2px;
    line-height: 25px;
    font-size: 18px;

    font-weight: bold;
}

label {
    float: left;
    color: #666666;
}

label.left {
    padding: 0 20px 0 5px;
    float: left;
    color: #666666;
}

.field-widget {
    /* float: left;*/
}

input.required {
    width: 320px;
    height: 30px;
    border: 1px solid #95E0EF;
    background-color: #f3fcfe;
    border-left-width: 2px;
    padding: 5px 0 0 2px;
    float: left;
}

input.optional {
    width: 300px;
    height: 22px;
    border: 1px solid #adedad;
    background-color: #f3fef3;
    border-left-width: 2px;
    padding: 5px 0 0 2px;
}

select.validate-selection {
    width: 325px;
    height: 37px;
    border: 1px solid #95E0EF;
    background-color: #f3fcfe;
    border-left-width: 2px;
    padding: 4px 2px 3px 2px;
    float: left;
}

textarea.required {
    width: 300px;
    height: 75px;
    float: left;
    border: 1px solid #95E0EF;
    background-color: #f3fcfe;
    border-left-width: 2px;
}

textarea.optional {
    width: 300px;
    height: 75px;
    border: 1px solid #adedad;
    background-color: #f3fef3;
    border-left-width: 2px;
}

input.submit {
    width: 325px;
    height: 38px;
    line-height: 30px;
    padding: 0 30px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #3498ed;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

input.reset {
    color: #FFFFFF;
    background-color: #50c150;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    border: none;
}

input.validation-failed, textarea.validation-failed, select.validation-failed {
    border: 1px solid #FF9A7F;
    background-color: #FFF2EF;
    color: #FF3300;
}

input.validation-passed, textarea.validation-passed {
    border: 1px solid #00CC00;
    color: #000;
}

.validation-advice {
    width: 50px;
    float: left;
    margin: 0px 0 0 10px;
    padding: 0px 0 0 25px;
    background: url(../images/warning.png) no-repeat left;
    color: #FF9A7F;
    font-size: 10px;
}

.custom-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #C8AA00;
    color: #FFF;
    font-weight: bold;
}

.form-row-1 {
    width: 100px;
    height: 100px;
}

.form-row-1 img {
    width: 100px;
    height: 100px
}

.form-row-2 {
    width: 200px;
    height: 100px;
}

.form-row-2 h2 {
    padding: 0;
    margin: 12px 0;
    font-weight: 600;
}

.form-row-3 {
    float: left;
    margin-right: 30px;
}

.field-content {
    width: auto;
    height: 50px;
    line-height: 20px;
    text-align: center;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold
}

.error_dialog {
    position: absolute;
    width: 250px;
    height: 160px;
    left: 50px;
    top: 200px;
    margin-top: -170px;
    background: #000;
    opacity: .8 !important;
    z-index: 21500;
    border-radius: 11px;
    display: none;
    text-align: center;
}

.error_dialog img {
    position: relative;
    width: 80px;
    height: 90px;
    margin-top: 16px;
}

.error_dialog p {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin: 6px;
}

@media screen and (max-width: 320px) {
    .form-row-1 {
        width: 90px;
        height: 90px;
    }

    .form-row-1 img {
        width: 90px;
        height: 90px;
    }

    .form-row-2 {
        width: 180px;
    }

    .form-row-2 h2 {
        padding: 0;
        margin: 6px 0;
        font-weight: 600;
    }

    input.required {
        width: 280px;
    }

    select.validate-selection {
        width: 284px;
    }

    input.submit {
        width: 286px;
    }

    .form-row-3 {
        float: left;
        margin-right: 0;
    }

    .error_dialog {
        left: 24px !important;
        top: 200px;
    }

}

@media screen and (min-width: 412px) and (max-width: 414px) {
    input.required {
        width: 360px;
    }

    input.submit {
        width: 365px;
    }

    select.validate-selection {
        width: 365px;
    }

    .error_dialog {
        left: 74px !important;
        top: 200px;
    }
}








