html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    background-color: black;
    padding-top: 50px;
    height: 100%;
}

#title {
    font-family: "STHeitiSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, Helvetica, "sans-serif";
    font-size: 70px;
    color: white;
    line-height: 72px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    text-align: center;
    margin: 30px;
}

#congra-label {
    font-family: "STHeitiSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, Helvetica, "sans-serif";
    font-size: 50px;
    color: white;
    line-height: 72px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    text-align: center;
    visibility: hidden;
    margin: 15px;
}

#congra-label.active {
    visibility: visible;
    /*margin-top: 30px; */
}

#horizontal-line {
    background-image: linear-gradient(-98deg, rgba(255, 255, 255, 0.13) 0%, #FFFFFF 45%, rgba(255, 255, 255, 0.08) 92%);
    height: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#btn-control {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 150px;
    width: 300px;
    background: url(../images/go.png) no-repeat top;
}

#btn-control:active {
    background: url(../images/go-press.png) no-repeat top;
}

#btn-control.running {
    background: url(../images/stop.png) no-repeat top;
}

#btn-control.running:active {
    background: url(../images/stop-press.png) no-repeat top;
}

.slotMachine {
    background-color: rgba(0, 0, 0, 0.21);
    border: 2px solid white;
    border-radius: 28px;

    display: inline-block;
    text-align: center;
    height: 100px;
    width: 460px;

    margin: 5px;
}

.slotMachine-box {
    text-align: center;
    margin-bottom: 20px;
}

.slotMachine.active {
    box-shadow: 0px 0px 20px 0px #FFFFFF;
}

.slot {
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
}

#containter {
    background-color: rgba(0, 0, 0, 0.21);
    padding: 30px;
    margin: 100px 350px;
    border-radius: 80px;
}
