<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 启用spring mvc 注解 -->
    <context:annotation-config/>

    <!-- 配置自动扫描 -->
    <context:component-scan base-package="**.controller">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 视图解析 -->
    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!--不设置则默认为classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/config/date/date.properties</value>
            </list>
        </property>
    </bean>

    <bean id="jacksonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <property name="serializationInclusion">
            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">ALWAYS</value>
        </property>
    </bean>
    <bean id="jacksonSerializationConfig" class="com.fasterxml.jackson.databind.SerializationConfig"
          factory-bean="jacksonObjectMapper" factory-method="getSerializationConfig"/>

    <mvc:annotation-driven validator="validator">
        <mvc:message-converters register-defaults="true">
            <bean
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="objectMapper" ref="jacksonObjectMapper"/>
            </bean>
            <!-- <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter"></bean> -->
            <!-- <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"></bean> -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- ***************************** 配置视图解释器 ***************************** -->
    <bean id="contentNegotiationManager"
          class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="xml" value="text/xml"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
            </list>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="viewClass"
                              value="org.springframework.web.servlet.view.JstlView"/>
                    <property name="prefix" value="/WEB-INF/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
    </bean>
    <!-- ***************************** 配置视图解释器 ***************************** -->
    <!-- 以下配置将拦截所有的URL请求 -->
    <mvc:interceptors>
        <!--<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />-->
        <bean class="com.zoe.weiya.interceptor.BaseInterceptor"/>
    </mvc:interceptors>
    <!-- 以下配置将拦截特有的URL请求 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path=".*/view/*.*"/>
            <bean id="1" class="com.zoe.weiya.interceptor.time.TimeBasedAccessInterceptor">
                <property name="oneAmOpeningTime" value="${one.am.openIngTime}"/>
                <property name="oneAmClosingTime" value="${one.am.closingTime}"/>
                <property name="onePmOpeningTime" value="${one.pm.openIngTime}"/>
                <property name="onePmClosingTime" value="${one.pm.closingTime}"/>
                <property name="twoAmOpeningTime" value="${two.am.openIngTime}"/>
                <property name="twoAmClosingTime" value="${two.am.closingTime}"/>
                <property name="twoPmOpeningTime" value="${two.pm.openIngTime}"/>
                <property name="twoPmClosingTime" value="${two.pm.closingTime}"/>
                <property name="finalOpeningTime" value="${final.openIngTime}"/>
                <property name="finalClosingTime" value="${final.closingTime}"/>


                <property name="mappingURL" value=".*/view/*.*"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:resources mapping="/view/**" location="/WEB-INF/view/"/>
    <mvc:resources mapping="/lottery/**" location="/WEB-INF/lottery/"/>
    <mvc:resources mapping="/vote/**" location="/WEB-INF/vote/"/>
    <mvc:resources mapping="/danmu/**" location="/WEB-INF/danmu/"/>
    <mvc:resources mapping="/comment/**" location="/WEB-INF/comment/"/>
    <mvc:resources mapping="/meal/**" location="/WEB-INF/meal/"/>
    <mvc:resources mapping="/mq/**" location="/WEB-INF/mq/"/>
    <mvc:resources mapping="/message/**" location="/WEB-INF/message/"/>

</beans>