.barrage {
    position: fixed;
    bottom: 70px;
    right: -500px;
    display: inline-block;
    width: 500px;
    z-index: 99999
}

.barrage_box {
    padding-right: 8px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    transition: all .3s;
}

.barrage_box .portrait {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden;
}

.barrage_box .portrait img {
    position: absolute;
    top: -3px;
    display: block;
    width: 105%;
    height: 105%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-content {
    position: absolute;
    top: 20px;
    left: 62px;
    z-index: 24;
    border: 2px solid #fff;
    border-radius: 40px;
    height: 42px;
    max-width: 520px;
    line-height: 42px;
    padding: 0 44px 0 33px;
    text-align: left;
    border: 4px solid #fff;
    font-size: 24px;
    color: #fff;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.barrage_box div.p a {
    margin-right: 2px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    margin-left: 18px;
}

.barrage_box div.p a:hover {
    text-decoration: underline;
}

.barrage_box .close {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .1);
    margin-top: 8px;
    background-image: url(close.png);
}

.barrage_box:hover .close {
    visibility: visible;
    opacity: 1;
}

.barrage_box .close a {
    display: block;
}

.barrage_box .close .icon-close {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    display: inline-block;
    margin-top: 5px;
}

.barrage .z {
    float: left !important;
}

.barrage a {
    text-decoration: none;
}