html, body {
    margin: 0;
    overflow: auto;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container.fixed {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -384px;
    margin-left: -480px;
}

.container .top {
    height: 80px;
    margin-top: 20px;
    background: url('../../../../image/page/nianhui/screen/topbg.png');
    background-size: 100% 100%;
    clear: both;
}

.container .top > div {
    float: left;
    height: 100%;
}

.container .top .left {
    width: 200px;
}

.container .top .left .logo {
    width: 190px;
    height: 68px;
    margin-top: 8px;
}

.container .top .center {
    width: 550px;
    text-align: center;
    overflow: hidden;
}

.container .top .center span.title {
    line-height: 80px;
    color: #fff604;
    font-size: 36px;
    font-weight: bold;
}

.container .top .right {
    width: 200px;
    text-align: right;
}

.container .top .right .tipword {
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: center;
    vertical-align: top;
    margin-top: 7px;
}

.container .top .right .tipword .num {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.container .top .right .tipword .plus {
    font-size: 17px;
    color: white;
}

.container .top .right .qrcode {
    width: 65px;
    height: 65px;
    margin-top: 8px;
    margin-left: 28px;
    cursor: pointer;
}

.container .main {
    position: relative;
    height: 463px;
    margin-top: 20px;
    z-index: 1050;
}

.container .main iframe {
    border: 0;
}

.container .talk {
    height: 50px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: rgba(255, 255, 255, 0.18);
}

.container .talk .icon {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -42px -40px;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-left: 13px;
}

.container .talk .word {
    display: inline-block;
    height: 50px;
    overflow: hidden;
}

.container .talk .word .scroll {
    display: inline-block;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

.container .talk .word .scroll > span {
    color: white;
    font-size: 25px;
    line-height: 50px;
    vertical-align: top;
    width: 858px;
    display: inline-block;
    margin-left: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container .bottom {
    margin-top: 20px;
}

.container .bottom > div {
    height: 92px;
}

.container .bottom .point {
    text-align: center;
    cursor: pointer;
}

.container .bottom .closed .point {
    position: relative;
    top: 50px;
}

.container .bottom .opened .point img {
    width: 680px;
}

.container .bottom .closed .point img {
    width: 53px;
    margin-left: -2px;
}

.container .bottom .opened .item {
    margin-top: -4px;
    text-align: center;
}

.container .bottom .opened .item ul {
    display: inline-block;
}

.container .bottom .opened .item ul li {
    float: left;
    margin: 5px 18px;
    cursor: pointer;
}

.container .bottom .opened .item ul li .text {
    color: white;
    font-size: 12px;
}

.container .bottom .opened .item ul li .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../../../image/page/nianhui/screen/sprite.png') -56px -274px;
}

.container .bottom .opened .item ul li .icon.exit_screen {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -138px -274px;
}

.container .bottom .opened .item ul li .icon.qrcode {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -212px -275px;
}

.container .bottom .opened .item ul li .icon.message {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -292px -275px;
}

.container .bottom .opened .item ul li .icon.sign {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -366.5px -275px;
}

.container .bottom .opened .item ul li .icon.give {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -442px -275px;
}

.container .bottom .opened .item ul li .icon.vote {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -55px -366px;
}

.container .bottom .opened .item ul li .icon.shake {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -130px -366px;
}

.container .bottom .opened .item ul li .icon.hb {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -277px -366px;
}

.container .bottom .opened .item ul li .icon.paoma {
    background: url('../../../../image/page/nianhui/screen/sprite.png?v=1') -347px -366px;
}

.container .bottom .opened .item ul li .icon.pan {
    background: url('../../../../image/page/nianhui/screen/sprite.png?v=1') -416px -366px;
}

.container .bottom .opened .item ul li .icon.danmu {
    background: url('../../../../image/page/nianhui/screen/sprite.png?v=1') -495px -366px;
}

.container .bottom .opened .item ul li .icon.control {
    background: url('../../../../image/page/nianhui/screen/sprite.png') -206px -366px;
}

.container .bottom .opened .item ul li .icon.threed_sign {
    background: url('../../../../image/page/nianhui/screen/icon_3dsign.png');
    background-size: 30px auto;
}

.container .bottom .opened .item ul li .icon.wheel {
    background: url('../../../../image/page/nianhui/screen/icon_wheel.png');
    background-size: 30px auto;
}

.container .bottom .opened .item ul li .icon.bullet {
    background: url('../../../../image/page/nianhui/screen/icon_bullet.png');
    background-size: 30px auto;
}

.container .sign_pointer {
    width: 128px;
    height: 75px;
    background: url('../../../../image/page/nianhui/screen/sign/signin.png') center no-repeat;
    background-size: 115px 75px;
    position: absolute;
    z-index: 9999;
    text-align: center;
    font-size: 32px;
    line-height: 70px;
    padding-left: 12px;
    display: none;
}

.leftqrcode, .rightqrcode {
    display: none;
}

.parent-bullet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 584px;
    z-index: 0;
}

.bullet-container .user-item {
    position: absolute;
    height: 80px;
    line-height: 30px;
    z-index: 22;
    font-size: 36px;
    font-weight: bold;
}

.bullet-container .user-item .user-photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden;
}

.bullet-container .user-item .user-photo img {
    position: absolute;
    top: -3px;
    display: block;
    width: 105%;
    height: 105%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bullet-container .user-item .user-content {
    position: absolute;
    top: 20px;
    left: 62px;
    z-index: 24;
    border: 2px solid #fff;
    border-radius: 40px;
    height: 42px;
    max-width: 740px;
    line-height: 42px;
    padding: 0 44px 0 33px;
    text-align: left;
    border: 4px solid #fff;
    font-size: 24px;
    color: #fff;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bullet-container .content-item {
    position: absolute;
    font-size: 36px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shake_hb_end {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background: rgba(0, 0, 0, .6);
    display: none;
    top: 0;
    left: 0;
}

.shake_hb_end .wrap {
    background: url(../../../../meeting/image/screen/hb/bg_03.png) center no-repeat;
    background-size: 600px auto;
    margin: 1px auto;
    width: 600px;
    height: 626px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -313px;
}

.shake_hb_end .wrap .title {
    background: url(../../../../meeting/image/screen/hb/2_03.png) center no-repeat;
    background-size: 290px auto;
    text-indent: -22222px;
    height: 55px;
    margin-top: 32px;
}

.shake_hb_end .wrap .prize {
    margin: 24px auto 0;
    width: 520px;
    color: #f9f361;
    font-size: 20px;
}

.shake_hb_end .wrap .winner {
    margin: 0;
}

.shake_hb_end .wrap .winner li {
    height: 82px;
    display: block;
}

.shake_hb_end .wrap .winner li > div {
    float: left;
    line-height: 82px;
    color: #f9f361;
}

.shake_hb_end .wrap .winner li .icon {
    background-size: 55px auto;
    width: 53px;
    height: 100%;
}

.shake_hb_end .wrap .winner li .icon-1 {
    background: url(../../../../meeting/image/screen/hb/3_03.png) -5px center no-repeat;
    background-size: 55px auto;
}

.shake_hb_end .wrap .winner li .icon-2 {
    background: url(../../../../meeting/image/screen/hb/3_06.png) -5px center no-repeat;
    background-size: 55px auto;
}

.shake_hb_end .wrap .winner li .w_title {
    width: 88px;
}

.shake_hb_end .wrap .winner li .w_head {
    background: url(../../../../meeting/image/screen/hb/2_07.png) center no-repeat;
    background-size: 66px auto;
    margin: 11px 0 0;
    width: 66px;
    height: 70px;
}

.shake_hb_end .wrap .winner li .w_head > img {
    display: block;
    width: 56px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    margin: 4px 0 0 5px;
}

.shake_hb_end .wrap .winner li .w_nickname {
    color: #fff;
    margin: 0 0 0 10px;
    width: 208px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shake_hb_end .wrap .winner li .w_money {
    width: 91px;
    text-align: right;
}