html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    -webkit-user-select: none;
    word-wrap: break-word;
    word-break: break-all;
    height: 100%;
    background: url(../images/bg1.JPG) center no-repeat;
    background-size: 100% 100%;
}