<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>评论上墙</title>
    <link rel="stylesheet" href="css/style3.css">
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../common/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../lottery/js/common.js"></script>
    <script type="text/javascript" src="../config/config.js"></script>
    <!--<script type="text/javascript" src="../view/js/form.js"></script>-->
</head>
<body>
<div id="container">
    <div class="zoom">
        <div class="error_dialog" style="display: none">
            <img src="images/error.png">
            <p></p>
        </div>
        <div class="wrapper gowall" style="background-repeat: repeat">
            <div class="companyLogo">
                <img alt src="images/zylogo.png">
            </div>
            <div class="companyName">
                <p>年会签到表</p>
                <div class="fgx">
                    <img alt src="../comment/images/fgx.png">
                </div>
            </div>
            <div class="send_words">
                <p>姓名：</p>
                <div class="wordsedit1">
                    <input name="memo" placeholder="请输入留言" maxlength="70">
                </div>
                <p>所属中心/分子公司：</p>
                <div class="wordsedit1">
                    <select name="memo" placeholder="请输入留言" maxlength="70">
                        <option>区域产品中心</option>
                        <option>财务中心</option>
                        <option>福建区</option>
                        <option>工程稽核部</option>
                        <option>商务中心</option>
                        <option>系统集成中心</option>
                        <option>西藏展望</option>
                        <option>行政中心</option>
                        <option>医院产品中心</option>
                        <option>总裁办</option>
                        <option>总工办公室</option>
                        <option>东北大区</option>
                        <option>华东大区</option>
                        <option>华南大区</option>
                        <option>西北大区</option>
                        <option>西南大区</option>
                        <option>中南大区</option>
                        <option>北方大区</option>
                        <option>内蒙分公司</option>
                        <option>新疆分公司</option>
                        <option>西藏分公司</option>
                        <option>智业工会</option>
                        <option>河北智业</option>
                        <option>江西智业</option>
                        <option>克拉玛依市智业科技有限公司</option>
                        <option>内蒙古普诺杰</option>
                        <option>天津天职</option>
                        <option>智业互联</option>
                        <option>云顶伟业</option>
                    </select>
                </div>
                <label style="width: 180px;height: 50px">是否点餐：</label>
                <input type="checkbox" name="memo" style="width: 39px;height: 39px;margin-top: 15px;">
                <div class="senddiv">
                    <div class="fasong">
                        <input type="button" id="saveMsg" value="签到">
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>