<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
    <title>年会签到表</title>
    <link rel="stylesheet" href="../view/css/style.css">
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="../lottery/js/common.js"></script>
    <script type="text/javascript" src="../lottery/js/config.js"></script>

    <script>
        var validInput = function () {
            $("input[name='userName']").mouseleave(function () {
                if ($("#userName").val() == "") {
                    $("#user").text("请输入您的名字！");
                } else {
                    $("#user").text("");
                }
            })
        }
        $(document).ready(function () {
            validInput();
            $("#isOrder").click(function () {
                if ($("#isOrder").is(':checked')) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
            })

            // 根据实际填写接口的配置地点
            // 这里的接口地址是基于node-weixin配置的。
            var weixinUrl = location.href.split('#')[0];
            var url = BaseUrl + "sign/url";
            // 当前的网页请求地址
            $.ajax({
                url: url, //这个地址是服务器配置JSSDK的地址
                data: {           // 这个地址是发生jssdk调用的url地址
                    // 用于服务器配置
                    url: weixinUrl
                },
                success: function (json) {
                    var data = json.data;
                    var config = {};
                    for (var k in json.data) {
                        config[k] = json.data[k];
                    }
                    config.debug = false;// 添加你需要的JSSDK的权限
                    config.appId = config.appid;
                    config.jsApiList = ['hideOptionMenu'];
                    config.timestamp = parseInt(config.timestamp);
                    config.nonceStr = config.noncestr;
                    config.signature = config.signature
                    wx.config(config);

                    wx.ready(function () {
                        $('body').append('<div id="loading"><img src="/view/images/loading.gif" style="width: 150px;margin-left: 97px;"></div>');
                        wx.hideOptionMenu();
                        var getUserInfo = BaseUrl + "sign/getUserInfo";//"auth/user_info";
                        var weixin = location.href.split('?')[1];
                        var code = weixin.split('=')[1];
                        //获取用户信息
                        $.ajax({
                            url: getUserInfo, //这个地址是服务器配置JSSDK的地址
                            data: {           // 这个地址是发生jssdk调用的url地址
                                // 用于服务器配置
                                id: code,
                                lang: ''
                            },
                            success: function (json) {
                                var userInfo = json.data;
                                var openId = userInfo.openId;
                                var memberUrl = BaseUrl + "user/isMember";
                                $.ajax({
                                    url: memberUrl,
                                    data: {
                                        id: openId
                                    },
                                    success: function (json) {
                                        var data = json.data;
                                        if (data == "NOT_SIGN") {
                                            $("#loading").hide();
                                            $("#partySign").show();
                                            document.querySelector('#btnSign').onclick = function () {
                                                if ($("#userName").val() == "") {
                                                    $("#user").text("请输入您的名字！");
                                                } else {
                                                    $("#user").text("");
                                                    var addUserUrl = BaseUrl + "user/save";
                                                    var signInfo = {
                                                        "name": $("input[name='userName']").val(),
                                                        "depName": $("select[name='dept']").val(),
                                                        "order": $("#isOrder").val(),
                                                        "headImgUrl": userInfo.headImgUrl,
                                                        "openId": openId,
                                                        "signFlag": 1
                                                    };
                                                    signInfo = JSON.stringify(signInfo);
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: addUserUrl,
                                                        contentType: 'application/json',
                                                        data: signInfo,
                                                        success: function (json) {
                                                            var msg = json.message;
                                                            if (msg == "已签到") {
                                                                $("#partySign").hide();
                                                                $("#loading").hide();
                                                                $("#signSuccess").show();
                                                            }
                                                        }
                                                    })
                                                }
                                            }
                                        } else {
                                            $("#partySign").hide();
                                            $("#loading").hide();
                                            $("#reSign").show();
                                        }
                                    }
                                })
                            }
                        })
                    });
                }
            })
        });
    </script>
    <style type="text/css">
        .field-content {
            width: 300px;
            height: 50px;
            line-height: 20px;
            text-align: center;
            float: left;
            margin-top: 100px;
            margin-left: 20px;
            font-size: 18px;
            font-weight: bold
        }
    </style>
</head>
<body>
<div>
    <fieldset>
        <!--  <legend><img src="images/favicon.ico"></legend>-->
        <div style="height: 100px;">
            <div class="form-row" style="width: 100px;height: 100px;float: left;clear: none">
                <img src="images/zylogo.png" style="width: 100px;height: 100px">
            </div>
            <div class="form-row" style="width: 200px;height: 100px;float: left;clear: none">
                <h2>年会签到表</h2>
                <span>感谢您参加智业年会，请登记您的签到信息。</span>
            </div>
        </div>
        <div id="partySign" style="display: none;">
            <div class="form-row">
                <div class="field-label" style="width: 50px"><label for="userName">姓名</label>:</div>
                <span style="color: red;" id="user"></span>
                <div class="field-widget"><input name="userName" id="userName" class="required">
                </div>
            </div>
            <div class="form-row">
                <div class="field-label" style="width: 188px;"><label for="dept" style="width: 152px;">所属中心/分子公司</label>:
                </div>
                <div class="field-widget">
                    <select id="field6" name="dept" class="validate-selection">
                        <option>区域产品中心</option>
                        <option>财务中心</option>
                        <option>福建区</option>
                        <option>工程稽核部</option>
                        <option>商务中心</option>
                        <option>系统集成中心</option>
                        <option>西藏展望</option>
                        <option>行政中心</option>
                        <option>医院产品中心</option>
                        <option>总裁办</option>
                        <option>总工办公室</option>
                        <option>东北大区</option>
                        <option>华东大区</option>
                        <option>华南大区</option>
                        <option>西北大区</option>
                        <option>西南大区</option>
                        <option>中南大区</option>
                        <option>北方大区</option>
                        <option>内蒙分公司</option>
                        <option>新疆分公司</option>
                        <option>西藏分公司</option>
                        <option>智业工会</option>
                        <option>河北智业</option>
                        <option>江西智业</option>
                        <option>克拉玛依市智业科技有限公司</option>
                        <option>内蒙古普诺杰</option>
                        <option>天津天职</option>
                        <option>智业互联</option>
                        <option>云顶伟业</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="field-widget">
                    <label class="field-label" style="width: 80px;" for="phone">是否点餐:</label>
                    <input type="checkbox" name="isOrder" id="isOrder" value="0"
                           style="margin-top: 3px;width: 18px;height: 18px;">
                </div>
            </div>
            <div class="form-row" style="float: right;margin-right: 30px;">
                <input type="button" class="submit" id="btnSign" value="签到"/>
            </div>
        </div>
        <div id="signSuccess" style="width: 300px;height: 306px;display: none">
            <span class="field-content">
                签到成功，感谢您的配合！
            </span>
        </div>
        <div id="reSign" style="display: none" class="field-content">
            <span>
                对不起，您已经签到一次了，不能重复签到！
            </span>
        </div>
    </fieldset>
</div>
</body>
</html>