<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
    <link id="defaultCss" rel="stylesheet" href="css/lottery.css">
    <link id="themeCss" rel="stylesheet" href="css/lottery-9.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/lottery.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!--<script type="text/javascript" src="js/awardRotate.js"></script>
    <script type="text/javascript" src="js/jquery.barrager.js"></script>
    <script type="text/javascript" src="js/jquery.extensions.js"></script>-->
    <title>年会抽奖系统</title>
    <script>
        $(document).ready(function () {
            getLottery();
            $('.showNumber a').click(function () {
                selectLotteryNumber($(this));
            });
            $(".prize a").click(function () {
                selectLotteryNumber($(this));
            });
            $('#beginLuck').click(function () {
                isAuto();
            });
            $('#stopLuck').click(function () {
                stopLuck();
            });
            $('#removeLottery').click(function () {
                removeLottery();
            });
            $('#submitLottery').click(function () {
                SubmitLotteryFans();
            });
            $('#luckUl').on('click', 'a', function () {
                deleteThis($(this), $(this).parent().data('level'));
            });
            getLotteryAward();
        });

    </script>
</head>
<body>
<div class="module luck_pair" id="lottery" style="display: block;top: 0px;width:90%;height:90%;margin: 30px auto;">

    <div class="left">
        <div class="userList">
            <div id="luck_user">
                <div class="left"></div>
                <div class="right"></div>
                <div class="lucky"></div>
                <ul style="width: 31160px; left: -200px;">

                </ul>
            </div>
        </div>
        <div class="condition">
            奖项:
            <div class="select" id="showLevel">
                <a data-prizeid="124" data-amount="55">一等奖</a>
            </div>
            <div class="select_option prize" style="left: 200px; top: 380px; display: none;">
                <a data-prizeid="124" data-prizeimg="" data-prizename="一等奖" data-amount="">
                    <div>一等奖</div>
                </a>
                <a data-prizeid="125" data-prizeimg="" data-prizename="二等奖"
                   data-amount="">
                    <div>二等奖</div>
                </a></div>
            人数:
            <div class="select" id="showNumber">
                <a data-number="1">1</a>
            </div>
            <div class="select_option showNumber" style="left: 500px; top: 380px; display: none;">
                <a data-number="1">
                    <div>1</div>
                </a>
                <a data-number="2">
                    <div>2</div>
                </a>
                <a data-number="3">
                    <div>3</div>
                </a>
                <a data-number="4">
                    <div>4</div>
                </a>
                <a data-number="5">
                    <div>5</div>
                </a>
                <a class="newNumber">
                    <div>58</div>
                </a></div>
        </div>
        <a class="clickBtn" id="beginLuck" style="display: inline-block;">开始抽奖</a>
        <a class="clickBtn stopBtn" id="stopLuck" style="display: none;">停止抽奖</a>
        <a class="clickBtn" id="luckIng" style="display: none;">自动抽奖中(<span></span>)</a>
    </div>
    <div class="right">
        <div class="title">获奖名单</div>
        <div id="luckUl" class="result">
            <div id="level_124" class="level">
                <ul>

                </ul>
            </div>
        </div>
        <a class="reclick" id="removeLottery">重新抽奖</a>
        <a class="submitUser" id="submitLottery">确认名单</a>
    </div>
</div>
</body>
</html>