<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width">
    <title>扫描二维码</title>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var weixinUrl = location.href.split('#')[0];
            // 根据实际填写接口的配置地点
            // 这里的接口地址是基于node-weixin配置的。
            var url = "http://zxc.tunnel.qydev.com/sign/url";
            // 当前的网页请求地址
            $.ajax({
                url: url, //这个地址是服务器配置JSSDK的地址
                data: {           // 这个地址是发生jssdk调用的url地址
                    // 用于服务器配置
                    url: weixinUrl
                }
            }).success(function (json) {       // 获得服务器返回的配置信息
                var config = {};
                for (var k in json.data) {
                    config[k] = json.data[k];
                }
                config.debug = true;// 添加你需要的JSSDK的权限
                config.appId = config.appid;
                config.jsApiList = ['scanQRCode'];
                config.timestamp = parseInt(config.timestamp);
                config.nonceStr = config.noncestr;
                config.signature = config.signature
                wx.config(config);

                wx.ready(function () {
                    //扫描二维码并返回结果
                    wx.scanQRCode({
                        needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                            window.location.href = "/view/form.html";
                        }
                    });
                });
                wx.error(function (res) {
                    console.info(res.errMsg);
                });
            });
        });
    </script>
</head>
<body>
<div id="scanQRCode">
    <p>Hello World!</p>
</div>
</body>
</html>