<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width">
    <title>生成二维码</title>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="../lottery/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../lottery/js/qrcode.js"></script>
    <script type="text/javascript" src="../lottery/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="../lottery/js/config.js"></script>
    <script>
        var authUrl = BaseUrl + "auth/url";
        $.ajax({
            url: authUrl, //这个地址是服务器配置JSSDK的地址
            data: {           // 这个地址是发生jssdk调用的url地址
                // 用于服务器配置
                url: BaseUrl + "view/form.html",
                state: ''
            }, success: function (data) {
                console.log(JSON.stringify(data.data));
                var getAuthUrl = data.data;
                $("#qrcode").qrcode({
                    render: "table", //table方式
                    width: 160, //宽度
                    height: 160, //高度
                    text: getAuthUrl, //任意内容
                    colorDark: "#000000",
                    colorLight: "#FFFFFF",
                    correctLevel: QRErrorCorrectLevel.H,
                    src: BaseUrl + 'view/images/logo.png'
                })
                ;
            }
        })
    </script>
    <style>
        #qrcode {
            width: 160px;
            height: 160px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -100px;
        }

        * {
            margin: 0;
            padding: 0;
            background-color: #EAEAEA;
        }
    </style>
</head>
<body>
<div id="qrcode"></div>
</body>
</html>