<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到列表</title>
    <link rel="stylesheet" href="../view/css/sign.css">
    <script type="text/javascript" src="../view/js/jquery.js"></script>
    <script type="text/javascript" src="../view/js/sign.js"></script>
    <script type="text/javascript" src="../lottery/js/config.js"></script>
    <style type="text/css">
        table, tr, td, th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="condition">
    <label>奖项:</label>
    <select class="select" name="prize">
        <option value="0">22号 上午</option>
        <option value="1">22号 下午</option>
        <option value="2">23号 上午</option>
        <option value="3">23号 下午</option>
        <option value="4">23号 晚上</option>
    </select>
    <div class="eat-number">共 <span class="number">-</span> 人点餐</div>
</div>
<div class="grid_table">
    <div class="ui-widget-header">
        <h2 class="ui-jqgrid-title">签到列表</h2>
    </div>
    <div style="height:480px;overflow-y:auto">
        <table class="dataintable" id="tabHeader">
            <tbody id="signGrid">
            <tr>
                <th style="width:25%;">签到时间</th>
                <th style="width:25%">签到人</th>
                <th style="width:40%">部门</th>
                <th style="width:10%">是否点餐</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>