<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到列表</title>
    <link rel="stylesheet" href="../view/css/sign.css">
    <script type="text/javascript" src="../view/js/jquery.js"></script>
    <script type="text/javascript" src="../view/js/sign.js"></script>
    <script type="text/javascript" src="../lottery/js/config.js"></script>
</head>
<body>
<div class="grid_table" >
    <div class="ui-widget-header">
        <h2 class="ui-jqgrid-title">签到列表</h2>
    </div>
    <div style="height:480px;overflow-y:auto">
    <table class="dataintable" id="tabHeader" >
        <tbody id="signGrid">
        <tr>
            <th style="width:25%">签到时间</th>
            <th style="width:25%">签到人</th>
            <th style="width:40%">部门</th>
            <th style="width:10%">是否点餐</th>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="eat-number">共 <span class="number">666</span> 人点餐</div>
</div>
</body>
</html>