<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>damu app</title>
    <link rel="stylesheet" type="text/css" href="../danmu/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../danmu/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../danmu/css/barrager.css">
    <script type="text/javascript" src="../danmu/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../danmu/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../danmu/js/tinycolor-0.9.15.min.js"></script>
    <!--<script type="text/javascript" src="../danmu/js/jquery.barrager.min.js"></script>-->
    <script type="text/javascript" src="../message/js/jquery.barrager.js"></script>
    <script type="application/javascript">

        var ws = null;
        function startServer() {
            var url = "ws://" + window.location.host + "/echoServlet";
            if ('WebSocket' in window) {
                ws = new WebSocket(url);
            } else if ('MozWebSocket' in window) {
                ws = new MozWebSocket(url);
            } else {
                alert('Your browser Unsupported WebSocket!');
                return;
            }

            ws.onopen = function () {
                document.getElementById("content").innerHTML += '弹幕通道已开启! Welcome!<br />';
            };
            ws.onmessage = function (event) {
                if(event && event.data){
                    var contentMessage = $.parseJSON(event.data);
                    var item = {
                        'img': contentMessage.headImgUrl,
                        'href': 'http://www.baidu.com',
                        'info': contentMessage.content,
                        close: false
                    };
                    var array = [];
                    var content = {
                        msg:item.info
                    };
                    array.push(content);
                    $('canvas').barrager(array);
//                $('body').barrager(item);
                }
            };
            ws.onclose = function () {
                document.getElementById("content").innerHTML += '弹幕通道关闭! Byebye!<br />';
            };
        }
        startServer();
    </script>
</head>
<body>
<div>
    <h1 id="content" style="text-align: center;color:#3498ed"></h1>
    <canvas style="width: 100%;height: 720px;background-color: rgba(0,0,0,0.2)">你的浏览器不支持canvas</canvas>
</div>
</body>
</html>