<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>中奖列表</title>
    <link rel="stylesheet" href="../view/css/sign.css">
    <script type="text/javascript" src="../common/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../view/js/winner.js"></script>
    <script type="text/javascript" src="../config/config.js"></script>
    <style type="text/css">
        table, tr, td, th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="condition">
    <label>奖项:</label>
    <select class="select" name="degree">
        <option value="0">一等奖</option>
        <option value="1">二等奖</option>
        <option value="2">三等奖</option>
    </select>
</div>
<div class="grid_table">
    <div class="ui-widget-header">
        <h2 class="ui-jqgrid-title">中奖列表</h2>
    </div>
    <div style="width: 983px;position:relative;    border-right: 1px solid #4297d7;
    border-left: 1px solid #4297d7;">
        <table class="dataintable" id="tabHeader">
            <tr>
                <th style="width:40%;">获奖人</th>
                <th style="width:40%">部门</th>
                <th style="width:20%">获奖等级</th>
            </tr>
        </table>
        <div class="bu"></div>
    </div>
    <div style="width:1000px;height:480px;overflow-y:auto;border: 1px solid #4297d7;
    border-top: 0;border-right:1px solid #a6c9e2;">
        <table class="dataintable" id="tdContent">
            <tbody id="signGrid">

            </tbody>
        </table>
    </div>
</div>
</body>
</html>