<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>api</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<servlet>
		<description>spring mvc servlet</description>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet-common.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>echo</servlet-name>
		<servlet-class>com.zoe.weiya.service.websocket.EchoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>echo</servlet-name>
		<url-pattern>/echoServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>wwwAuthFilter</filter-name>
		<filter-class>com.zoe.weiya.security.WwwAuthFilter</filter-class>
		<init-param>
			<param-name>auth-config</param-name>
			<param-value>auth/auth.properties</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wwwAuthFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>wwwAuthFilter</filter-name>
		<url-pattern>/danmu/danmu.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>wwwAuthFilter</filter-name>
		<url-pattern>/lottery/lottery.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>wwwAuthFilter</filter-name>
		<url-pattern>/lottery/lottery.new.html</url-pattern>
	</filter-mapping>
    <filter-mapping>
		<filter-name>wwwAuthFilter</filter-name>
		<url-pattern>/view/form.html</url-pattern>
	</filter-mapping>
</web-app>