<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 如果将service和dao的扫描放到springmvc-servlet.xml中会发现事务不能生效 -->
    <!-- 如果将controller的扫描也放到applicationContext.xml中会发现URI Mapping有问题 -->
    <!-- 所以，在这里将controller的扫描和service、dao的扫描分开 -->
    <context:component-scan base-package="**.service"/>
    <context:component-scan base-package="**.dao"/>

    <!-- 加载数据库连接信息db.properties -->
    <!-- <context:property-placeholder location="classpath:/config/db/db.properties" /> -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/config/db/db.properties</value>
                <value>classpath:/config/wechat/wechat.properties</value>
                <value>classpath:/config/redis/redis.properties</value>
                <value>classpath:/config/date/date.properties</value>
            </list>
        </property>
    </bean>

    <bean id="weiya.bean.factory" class="com.zoe.weiya.comm.bean.BeanFactory"/>

    <bean id="WxMpServiceImpl" class="me.chanjar.weixin.mp.api.impl.WxMpServiceImpl">
        <property name="wxMpConfigStorage" ref="WxMpInMemoryConfigStorage"/>
    </bean>

    <bean id="WxMpInMemoryConfigStorage" class="me.chanjar.weixin.mp.api.WxMpInMemoryConfigStorage">
        <property name="appId" value="${wechat.APP_ID}"/>
        <property name="secret" value="${wechat.SECRET}"/>
        <property name="aesKey" value="${wechat.AES_KEY}"/>
        <property name="token" value="${wechat.TOKEN}"/>
    </bean>

    <bean id="wxMpMessageRouter" class="me.chanjar.weixin.mp.api.WxMpMessageRouter" scope="singleton">
        <constructor-arg index="0" ref="WxMpServiceImpl"/>
    </bean>

    <!-- Redis -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <!--<property name="maxActive" value="${redis.maxActive}" />-->
        <!--<property name="maxWait" value="${redis.maxWait}" />-->
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>

    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:hostName="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}" p:poolConfig-ref="poolConfig"/>

    <bean id="stringRedisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
    <bean id="jdkSerializationRedisSerializer"
          class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="keySerializer" ref="stringRedisSerializer"/>
        <property name="valueSerializer" ref="jdkSerializationRedisSerializer"/>
        <property name="hashKeySerializer" ref="stringRedisSerializer"/>
        <property name="hashValueSerializer" ref="jdkSerializationRedisSerializer"/>
        <property name="stringSerializer" ref="stringRedisSerializer"/>
    </bean>

    <bean id="zoeRedisTemplate" class="com.zoe.weiya.comm.redis.ZoeRedisTemplate">
        <property name="redisTemplate" ref="redisTemplate"/>
        <property name="usePool" value="true"/>
    </bean>

</beans>